#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background-color: #505050;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  height: 64px;
}